body {
    background-color: #e8ded1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    width:50%;
    height: 50px;
    text-align: center;
}

h2 {
    margin-bottom: 5px;
}